@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Empleados</h1>
<br />
<table id="tblEmpleados" class="table table-striped table-hover table-bordered table-sm">
    <thead>
        <tr>
            <th>Login</th>
            <th>Nombre</th>
            <th>Paterno</th>
            <th>Materno</th>
            <th>Sueldo</th>
            <th>Fecha Ingreso</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Login</td>
                <td>@item.Nombre</td>
                <td>@item.Paterno</td>
                <td>@item.Materno</td>
                <td>@item.Sueldo</td>
                <td>@item.FechaIngreso</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.UserId">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tblEmpleados').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/2.1.7/i18n/es-MX.json"
                }
            });
        });
    </script>
}